*{
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: black;
} 


h1{
    display: flex;
    justify-content: center;
    font-style: oblique;
    background-color: coral;
}

main{
    display: flex;
    background-color: coral;
    min-height: 80px;
    justify-content: center;
    background: 
    url(https://img1.looper.com/img/gallery/things-only-adults-notice-in-shrek/intro-1573597941.jpg);
    background-size: contain;
    background-repeat: round;
    border: 100px solid green; 
}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-items: center;
}


li, nav{
    flex: 1;
    text-align: center;
    padding: 30px 30px;
    display: inline-block;
    border-radius: 10px;
}

li a:hover{ 
    background-image:
     url(https://i.insider.com/5adf9d9442e1cc1d1f6d4e0c?width=1100&format=jpeg&auto=webp);
     background-size: contain;
     background-repeat: round;
}

nav, .link{
    flex: 1;
    text-align: center;
    padding: 30px 30px;
    display: inline-block;
    border-radius: 10px;;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: coral;
}

p{
    font-size: 2em;
    background-color: black;
    color: white;
    max-width: 600px;
    margin: 10px;
    letter-spacing: 3px ;
}



